persistence:
  enabled: true
  storageClass: "longhorn"
  size: "2Gi"
service:
  type: ClusterIP
ingress:
  enabled: true
  ingressClassName: "nginx-internal"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
  hosts:
    - host: "portainer.internal.dtavana.dev"
      paths:
        - path: /
          pathType: Prefix
  tls:
   - secretName: portainer-tls
     hosts:
       - portainer.internal.dtavana.dev
