defaultSettings:
  defaultDataPath: "/var/lib/longhorn/"
ingress:
  enabled: true
  ingressClassName: "nginx-internal"
  host: "longhorn.internal.dtavana.dev"
  path: /
  pathType: Prefix
  tls: true
  tlsSecret: longhorn-tls
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
